/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url(https://img.freepik.com/vector-premium/fondo-abstracto-color-degradado-blanco-gris-banner-sitio-web-decoracion-tarjetas-papel_120819-265.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #61367c;
}
.navbar-dark .navbar-nav .nav-link {
    color: #f3ecf3;
}
.jumbotron {
    background-image: url('https://img.freepik.com/vector-premium/fondo-textura-acuarela-salpicada-abstracta_187069-11331.jpg?w=2000');
    background-size: cover;
    color: #e989e9;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.container {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #333;
}
p {
    color: #69296b;
}
.car-img {
    max-width: 100%;
    height: auto;
}

